<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@event.picture_url, width:600) if @event.picture.present? %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Countdown: </strong>
  <%= distance @event.date  %>
</p>

<p>
  <strong>Average Rating:</strong>
  <% @event.ratings.average(:rating).to_i.times do %>
    <%= image_tag "star" , size:"15x15" %>
  <% end %>
</p>

<% if current_user %>
  <p>
    <strong>Rate:</strong>
    <%= form_for @event.ratings.build, url: event_ratings_path(@event) do |f| %>
      <%= f.number_field :rating, max: 5, min: 0 %>
      <%= f.submit %>
    <% end %>
  </p>
<% else %>
  <%= link_to 'Sign in to rate!', new_user_session_path %>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
